/*[data-id="numero_reperto"] {*/
    /*width: 60px;*/
/*}*/

.forensics_header {
    background-color: #f0f0f0;
    border: solid 1px #a0a0a0;
    padding: 5px;

}

.forensics_header span {
    color: #b32314;
}